@import "tailwindcss";
h1{
    font-size: 30px;
}

button{
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:active{
    box-shadow:inset 0 0  2px 2px rgba(0, 0, 0, 0.281);
}

#copyicon{
    font-size: 20px;
    color: rgb(0, 115, 215);
    font-weight: 600;
    
}
#copyicon:active{
    scale: calc(0.95);
}

label{
    font-size: 19px;
}

.check input{
    width: 20px;
    height: 20px;
    
}

 .parent{
        width: 60%;
        
}

.optiondiv{
     display: flex;
    padding-left: 20px;
   align-items: center;
      
      
}
.optiondiv div{
    margin-top: 20px;
}


@media(max-width:430px){
    .parent{
        width: 90%;
        margin-top: 50px;
    }
   
}

 




